<ion-header>
  <ion-navbar color="funasa">
    <ion-title>{{pastaList.pasta.descricao}}</ion-title>
    <ion-buttons end *ngIf="!modoSelecao">
      <button ion-button icon-only (click)="takePicture()">
        <ion-icon name="md-camera"></ion-icon>
      </button>
      <button ion-button icon-only (click)="opcoesActionSheet()">
        <ion-icon name="md-more"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end *ngIf="modoSelecao">
      <button ion-button icon-only (click)="cancelarSync()">
        <ion-icon name="md-close" style="padding-right:11px;"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="arquivos?.length > 0">
    <ion-item *ngFor="let item of arquivos; let i=index" (click)="itemSelected(item)">
      <ion-avatar item-start>
        <img [src]="item.imagem" *ngIf="item.imagem" />
      </ion-avatar>
      <h2>
        {{item.criacao | date: 'dd/MM/yyyy - H:mm'}}
      </h2>
      <p>
        {{item.lat}}, {{item.long}}
      </p>
      <p item-right *ngIf="!modoSelecao">{{item.tamanho}}kb</p>
      <ion-icon name="md-checkmark-circle-outline" item-end color="light" *ngIf="modoSelecao && !item.selecao" (click)="setItemSync(item); $event.stopPropagation();"></ion-icon>
      <ion-icon name="md-checkmark-circle-outline" item-end color="secondary" *ngIf="modoSelecao && item.selecao" (click)="setItemSync(item); $event.stopPropagation();"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="arquivos?.length == 0">
    <ion-item>
      <p padding-top>
        Nenhum item cadastrado
      </p>
    </ion-item>
  </ion-list>

  <ion-footer *ngIf="modoSelecao">
    <ion-toolbar>
      <p padding-left>{{qtdSelecao}} items selecionados</p>
      <ion-buttons end padding-right>
        <button ion-button color="primary" round (click)="sync()">Sincronizar</button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>

</ion-content>